{% extends "govuk/template.njk" %}

{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}
{% from "views/layouts/components/header.njk" import pinsServiceHeader, pinsServiceNavigation %}
{% from "ui/footer/pins-footer.njk" import pinsFooter %}

{% block head %}
	{# setup the header tags, to link to the styles #}
    <link rel="stylesheet" href="/{{ config.styleFile }}"/>
{% endblock %}

{% block pageTitle %}
	{% if pageTitle %}
		{{ pageTitle }} - {{ serviceName | default(config.headerTitle) }}
	{% else %}
		{{ serviceName | default(config.headerTitle) }}
	{% endif %}
{% endblock %}

{#
  Header chrome:
  - `govukGenericHeader` (via pinsServiceHeader) + govuk-overrides.scss
  - `govukServiceNavigation` (via pinsServiceNavigation)

  Footer chrome:
  - `pinsFooter` from @planning-inspectorate/core (raw HTML macro).
    There is no GOV.UK generic footer; `govukFooter` is only for services on GOV.UK.
#}
{% block govukHeader %}
	{{ pinsServiceHeader() }}
{% endblock %}

{% block govukServiceNavigation %}
	{{ pinsServiceNavigation(config.headerTitle, hideSignOut) }}
{% endblock %}

{% block containerStart %}
	<script {% if cspNonce %}nonce={{ cspNonce }}{% endif %}>
		document.body.className += ' js-enabled' + ('noModule' in HTMLScriptElement.prototype ? ' govuk-frontend-supported' : '');
	</script>
	{% block phaseBanner %}
		{{ govukPhaseBanner({
			tag: {
				text: "Beta"
			},
			html: 'This is a new service. Help us improve it and <a class="govuk-link" href="https://www.gov.uk/government/organisations/planning-inspectorate" rel="noreferrer noopener" target="_blank">give your feedback (opens in a new tab)</a>.'
		}) }}
	{% endblock %}
	{% block backLink %}
		{% if backLinkUrl and backLinkText %}
			{{ govukBackLink({ text: backLinkText, href: backLinkUrl }) }}
		{% elseif backLinkUrl %}
			{{ govukBackLink({ href: backLinkUrl }) }}
		{% elseif backLink %} {# used by the dynamic forms #}
			{{ govukBackLink({ href: backLink }) }}
		{% endif %}
	{% endblock %}
	{% block error_summary %}
		{% if errorSummary %}
			<div class="govuk-grid-row">
				<div class="govuk-grid-column-two-thirds">
					{{
					govukErrorSummary({
						titleText: "There is a problem",
						errorList: errorSummary
					})
					}}
				</div>
			</div>
		{% endif %}
	{% endblock %}
{% endblock %}

	{% block before_content %}{% endblock %}

	{% block content %}
		{% block pageHeading %}
			<div class="govuk-grid-row">
				<div class="govuk-grid-column-full">
					<h1 class="govuk-heading-xl">
						{% if pageCaption %}
							<span class="govuk-caption-xl">{{ pageCaption }}</span>
						{% endif %}
						{{ pageHeading or pageTitle }}
					</h1>
				</div>
			</div>
		{% endblock %}
		{% block pageContent %}{% endblock %}

		{% block after_content %}{% endblock %}
	{% endblock %}

{% block footer %}
	{#
	  pinsFooter renders its own <footer>, so replace the whole footer block
	  (do not nest inside govuk-template__footer).
	#}
	{{ pinsFooter(config.footerLinks) }}

	<script type="module" {% if cspNonce %}nonce={{ cspNonce }}{% endif %} src="/assets/js/govuk-frontend.min.js"></script>
	<script type="module" {% if cspNonce %}nonce={{ cspNonce }}{% endif %}>
		import { initAll } from '/assets/js/govuk-frontend.min.js'
		initAll()
	</script>
{% endblock %}
